## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:



a=pow(7,4)
print(a)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet="Earth"
diameter=12742
print("The diameter of" , planet ,"is",diameter,"kilometers")

The diameter of Earth is 12742 kilometers

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
l = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(l[3][1][2])

['hello']

** What is the main difference between a tuple and a list? **

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [7]:
d="user@domain.com"
def fun(d):
  a=""
  res= False
  for i in d:
    if(res):
      a+=i
    if(i=="@"):
      res = True
  return a
  
print(fun(d))

domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [8]:
sentence ="My Dog name is Dora"
word = "Dog"
def res(sentence,word):
  s=sentence.split(" ")
  for i in s:
    if(i==word):
      return True
  return False

if(res(sentence,word)):
  print("True")
else:
  print("False")

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [9]:
str1 ="Dog is a pet and i love Dog"
word ="Dog"
def res(str1, word):
    a = str1.split(" ")
    c = 0
    for i in range(0, len(a)):
        if (word == a[i]):
           c = c+ 1           
    return c      

print(res(str, word))

0

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [10]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(200,True))

Big Ticket

In [11]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(71,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [12]:
employees = ["Rajalingam","Sujithraj", "Parvinkumar", "Muthuselvem"]
salary={}
for emp in employees:
  amount=int(input(f'Enter salary for {emp}: '))
  salary[emp]=amount4
print('Total salary ', sum(salary.values()))

Enter salary for Rajalingam: 55
Enter salary for Sujithuraj: 45
Enter salary for Parvinkumar: 45
Enter salary for Muthuselvem: 454
Total salary  599

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [13]:
x={'Empid' : 401, 'Empname':"Rajalingam","Basicpay": 10000}
y= {'DeptName': "Excecutive", 'Deptid': 12345}
def res(x,y):
  z=x.copy()
  z.update(y)
  return z
z=res(x,y)
print(z)

{'Empid': 401, 'Empname': 'Rajalingam', 'Basicpay': 10000, 'DeptName': 'Excecutive', 'Deptid': 12345}